		* {
			border-radius: 0px !important;
		}

		#map_canvas {
			width:100%;
			height:350px
		}

		#directionsPanel {
			background: #FFFFFF;
			width: 100%;
			padding: 0;
			margin: 0 auto;
		}
		.gmRoute-form {
			position: absolute;
			top:0;
			width: 100%;
			left: 0;
			right: 0;
		}
		.gmRoute-forum__widget {
			position:absolute;
			width: 200px;
			right:10px;
			top:0;
		}
		#show-more {
			width: 200px;
		}
		.btn-calculate-route {
			width: 38px;
		}
		.btn-calculate-route .icon:before {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			line-height: 38px;
		}
		.adp-directions {
			width: 100%;
		}
		.adp-placemark,
		.adp-warnbox {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.warnbox-content {
			padding-right: 20px !important;
		}
		[class^="icon-"],
		[class*=" icon-"] {
			font-family: Ionicons;
		}
		.icon-bike:before {
			content:"\f127";
		}
		.icon-walking:before {
			content: "\f266";
		}

		.icon-car:before {
			content:"\f140";
		}

		.icon-transit:before {
			content:"\f139";
		}

		.icon-travel-mode {
			display: block;
			font-size: 2rem;
			line-height: 38px;
			width: 46.5px;
			border: 1px solid #c0c0c0;
			background-color: #fff;
			text-align:center;
			transition: all .5s ease;
		}

		.icon-travel-mode:hover {
			padding-left: 4px;
			border-color: #0275d8;
		}

		label > input:checked + span {
			color: #fff;
			background-color: #0275d8;
			/*border:1px solid #f00;*/
		}

		.adp-marker {
			display: none;
		}
		.adp-text {
			font-size: 1.2rem;
		}
		.adp-text:before {
			font-family: Ionicons;
			content: "\f1e4";
			font-size: 1.5rem;
			margin-right: 5px;
		}
		.adp-substep {
			font-size: .9rem;
		}
		.adp-legal {
			font-size: .7rem;
		}
		.adp-legal {
			text-align: center;
		}
.modal-show-directions .modal-body {
	padding: 0;
}

button.close {
	text-shadow: none;
	padding: .1rem .8rem;
	position: absolute;
	right: 0;
	top: 0;
	opacity: .7;
	font-size: 2.5rem;
	z-index:9999;
}
button.close :hover {
	opacity:1;
	color: #c0c0c0;
}
button.close {
	background-color: transparent;
}



/*BS4 XXL by ecaps.okops */
@media (min-width: 1600px){.container{max-width:1570px}.col-xxl-12{max-width:100%;-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%}.col-xxl-11{max-width:91.66666667%;-webkit-box-flex:0;-webkit-flex:0 0 91.66666667%;-ms-flex:0 0 91.66666667%;flex:0 0 91.66666667%}.col-xxl-10{max-width:83.33333333%;-webkit-box-flex:0;-webkit-flex:0 0 83.33333333%;-ms-flex:0 0 83.33333333%;flex:0 0 83.33333333%}.col-xxl-9{max-width:75%;-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%}.col-xxl-8{max-width:66.66666667%;-webkit-box-flex:0;-webkit-flex:0 0 66.66666667%;-ms-flex:0 0 66.66666667%;flex:0 0 66.66666667%}.col-xxl-7{max-width:58.33333333% -webkit-box-flex: 0;-webkit-flex:0 0 58.33333333%;-ms-flex:0 0 58.33333333%;flex:0 0 58.33333333%}.col-xxl-6{max-width:50%;-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%}.col-xxl-5{max-width:41.66666667%;-webkit-box-flex:0;-webkit-flex:0 0 41.66666667%;-ms-flex:0 0 41.66666667%;flex:0 0 41.66666667%}.col-xxl-4{max-width:33.33333333%;-webkit-box-flex:0;-webkit-flex:0 0 33.33333333%;-ms-flex:0 0 33.33333333%;flex:0 0 33.33333333%}.col-xxl-3{max-width:25%;-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%}.col-xxl-2{max-width:16.66666667%;-webkit-box-flex:0;-webkit-flex:0 0 16.66666667%;-ms-flex:0 0 16.66666667%;flex:0 0 16.66666667%}.col-xxl-1{max-width:8.33333333%;-webkit-box-flex:0;-webkit-flex:0 0 8.33333333%;-ms-flex:0 0 8.33333333%;flex:0 0 8.33333333%}.mt-xxl-4{margin-top:1.5rem !important}.mr-xxl-4{margin-right:1.5rem !important}.mb-xxl-4{margin-bottom:1.5rem !important}.ml-xxl-4{margin-left:1.5rem !important}.mx-xxl-4{margin-right:1.5rem !important;margin-left:1.5rem !important}.my-xxl-4{margin-top:1.5rem !important;margin-bottom:1.5rem !important}.m-xxl-5{margin:3rem 3rem !important}.mt-xxl-5{margin-top:3rem !important}.mr-xxl-5{margin-right:3rem !important}.mb-xxl-5{margin-bottom:3rem !important}.ml-xxl-5{margin-left:3rem !important}.mx-xxl-5{margin-right:3rem !important;margin-left:3rem !important}.my-xxl-5{margin-top:3rem !important;margin-bottom:3rem !important} .pr-xxl-0,.px-xxl-0{padding-right:0!important}.pl-xxl-0,.px-xxl-0{padding-left:0!important}.pt-xxl-0,.py-xxl-0{padding-top:0!important}.pb-xxl-0,.py-xxl-0{padding-bottom:0!important}.p-xxl-0{padding:0!important}.pr-xxl-1,.px-xxl-1{padding-right:.25rem!important}.pl-xxl-1,.px-xxl-1{padding-left:.25rem!important}.pt-xxl-1,.py-xxl-1{padding-top:.25rem!important}.pb-xxl-1,.py-xxl-1{padding-bottom:.25rem!important}.p-xxl-1{padding:.25rem!important}.pr-xxl-2,.px-xxl-2{padding-right:.5rem!important}.pl-xxl-2,.px-xxl-2{padding-left:.5rem!important}.pt-xxl-2,.py-xxl-2{padding-top:.5rem!important}.pb-xxl-2,.py-xxl-2{padding-bottom:.5rem!important}.p-xxl-2{padding:.5rem!important}.pr-xxl-3,.px-xxl-3{padding-right:1rem!important}.pl-xxl-3,.px-xxl-3{padding-left:1rem!important}.pt-xxl-3,.py-xxl-3{padding-top:1rem!important}.pb-xxl-3,.py-xxl-3{padding-bottom:1rem!important}.p-xxl-3{padding:1rem!important}.pr-xxl-4,.px-xxl-4{padding-right:1.5rem!important}.pl-xxl-4,.px-xxl-4{padding-left:1.5rem!important}.pt-xxl-4,.py-xxl-4{padding-top:1.5rem!important}.pb-xxl-4,.py-xxl-4{padding-bottom:1.5rem!important}.p-xxl-4{padding:1.5rem!important}.pr-xxl-5,.px-xxl-5{padding-right:3rem!important}.pl-xxl-5,.px-xxl-5{padding-left:3rem!important}.pt-xxl-5,.py-xxl-5{padding-top:3rem!important}.pb-xxl-5,.py-xxl-5{padding-bottom:3rem!important}.p-xxl-5{padding:3rem!important}